.hero-section {
    text-align: center;
    margin: 0px 0;
    margin-bottom: 20px;
}

.explore-button {
    background-color: #007aff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.explore-button:hover {
    background-color: #005ecb;
}